<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set contentTitle = "Which organisation do you want to add?" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "add-a-role/v1" %}
{% set forwardService = "Clinical application" %}
{% block pageScripts %}
  <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/js/autocomplete-ods.js"></script>
{% endblock %}
<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/new-org/confirm-org" method="get">

        {{ label({
          "text": contentTitle,
          "isPageHeading": true,
          "classes": "nhsuk-label--l",
          "for": "ODS",
          "id": "ODS"
        }) }}
        {{ hint({
          "text": "Search by name or ODS code"
        }) }}

        <select class="" name="ODS" id="ODS">
          <option value="">Select a role</option>
          <option id='MANCHESTER UNIVERSITY NHS FOUNDATION TRUST (R0A)'>MANCHESTER UNIVERSITY NHS FOUNDATION TRUST (R0A)</option>
          <option id='WORCESTERSHIRE HEALTH AND CARE NHS TRUST (R1A)'>WORCESTERSHIRE HEALTH AND CARE NHS TRUST (R1A)</option>
          <option id='SOLENT NHS TRUST (R1C)'>SOLENT NHS TRUST (R1C)</option>
          <option id='SHROPSHIRE COMMUNITY HEALTH NHS TRUST (R1D)'>SHROPSHIRE COMMUNITY HEALTH NHS TRUST (R1D)</option>
          <option id='STAFFORDSHIRE AND STOKE ON TRENT PARTNERSHIP NHS TRUST (R1E)'>STAFFORDSHIRE AND STOKE ON TRENT PARTNERSHIP NHS TRUST (R1E)</option>
          <option id='ISLE OF WIGHT NHS TRUST (R1F)'>ISLE OF WIGHT NHS TRUST (R1F)</option>
          <option id='BARTS HEALTH NHS TRUST (R1H)'>BARTS HEALTH NHS TRUST (R1H)</option>
          <option id='GLOUCESTERSHIRE CARE SERVICES NHS TRUST (R1J)'>GLOUCESTERSHIRE CARE SERVICES NHS TRUST (R1J)</option>
          <option id='LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST (R1K)'>LONDON NORTH WEST UNIVERSITY HEALTHCARE NHS TRUST (R1K)</option>
          <option id='ESSEX PARTNERSHIP UNIVERSITY NHS FOUNDATION TRUST (R1L)'>ESSEX PARTNERSHIP UNIVERSITY NHS FOUNDATION TRUST (R1L)</option>
          <option id='ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST (RA2)'>ROYAL SURREY COUNTY HOSPITAL NHS FOUNDATION TRUST (RA2)</option>
          <option id='WESTON AREA HEALTH NHS TRUST (RA3)'>WESTON AREA HEALTH NHS TRUST (RA3)</option>
          <option id='YEOVIL DISTRICT HOSPITAL NHS FOUNDATION TRUST (RA4)'>YEOVIL DISTRICT HOSPITAL NHS FOUNDATION TRUST (RA4)</option>
          <option id='UNIVERSITY HOSPITALS BRISTOL NHS FOUNDATION TRUST (RA7)'>UNIVERSITY HOSPITALS BRISTOL NHS FOUNDATION TRUST (RA7)</option>
          <option id='TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST (RA9)'>TORBAY AND SOUTH DEVON NHS FOUNDATION TRUST (RA9)</option>
          <option id='BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST (RAE)'>BRADFORD TEACHING HOSPITALS NHS FOUNDATION TRUST (RAE)</option>
          <option id='SOUTHEND UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RAJ)'>SOUTHEND UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RAJ)</option>
          <option id='ROYAL FREE LONDON NHS FOUNDATION TRUST (RAL)'>ROYAL FREE LONDON NHS FOUNDATION TRUST (RAL)</option>
          <option id='ROYAL NATIONAL ORTHOPAEDIC HOSPITAL NHS TRUST (RAN)'>ROYAL NATIONAL ORTHOPAEDIC HOSPITAL NHS TRUST (RAN)</option>
          <option id='NORTH MIDDLESEX UNIVERSITY HOSPITAL NHS TRUST (RAP)'>NORTH MIDDLESEX UNIVERSITY HOSPITAL NHS TRUST (RAP)</option>
          <option id='THE HILLINGDON HOSPITALS NHS FOUNDATION TRUST (RAS)'>THE HILLINGDON HOSPITALS NHS FOUNDATION TRUST (RAS)</option>
          <option id='NORTH EAST LONDON NHS FOUNDATION TRUST (RAT)'>NORTH EAST LONDON NHS FOUNDATION TRUST (RAT)</option>
          <option id='KINGSTON HOSPITAL NHS FOUNDATION TRUST (RAX)'>KINGSTON HOSPITAL NHS FOUNDATION TRUST (RAX)</option>
          <option id='TAUNTON AND SOMERSET NHS FOUNDATION TRUST (RBA)'>TAUNTON AND SOMERSET NHS FOUNDATION TRUST (RBA)</option>
          <option id='DORSET COUNTY HOSPITAL NHS FOUNDATION TRUST (RBD)'>DORSET COUNTY HOSPITAL NHS FOUNDATION TRUST (RBD)</option>
          <option id='WALSALL HEALTHCARE NHS TRUST (RBK)'>WALSALL HEALTHCARE NHS TRUST (RBK)</option>
          <option id='WIRRAL UNIVERSITY TEACHING HOSPITAL NHS FOUNDATION TRUST (RBL)'>WIRRAL UNIVERSITY TEACHING HOSPITAL NHS FOUNDATION TRUST (RBL)</option>
          <option id='ST HELENS AND KNOWSLEY TEACHING HOSPITALS NHS TRUST (RBN)'>ST HELENS AND KNOWSLEY TEACHING HOSPITALS NHS TRUST (RBN)</option>
          <option id='LIVERPOOL HEART AND CHEST HOSPITAL NHS FOUNDATION TRUST (RBQ)'>LIVERPOOL HEART AND CHEST HOSPITAL NHS FOUNDATION TRUST (RBQ)</option>
          <option id='ALDER HEY CHILDREN'S NHS FOUNDATION TRUST (RBS)'>ALDER HEY CHILDREN'S NHS FOUNDATION TRUST (RBS)</option>
          <option id='MID CHESHIRE HOSPITALS NHS FOUNDATION TRUST (RBT)'>MID CHESHIRE HOSPITALS NHS FOUNDATION TRUST (RBT)</option>
          <option id='THE CHRISTIE NHS FOUNDATION TRUST (RBV)'>THE CHRISTIE NHS FOUNDATION TRUST (RBV)</option>
          <option id='NORTHERN DEVON HEALTHCARE NHS TRUST (RBZ)'>NORTHERN DEVON HEALTHCARE NHS TRUST (RBZ)</option>
          <option id='BEDFORD HOSPITAL NHS TRUST (RC1)'>BEDFORD HOSPITAL NHS TRUST (RC1)</option>
          <option id='LUTON AND DUNSTABLE UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RC9)'>LUTON AND DUNSTABLE UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RC9)</option>
          <option id='YORK TEACHING HOSPITAL NHS FOUNDATION TRUST (RCB)'>YORK TEACHING HOSPITAL NHS FOUNDATION TRUST (RCB)</option>
          <option id='HARROGATE AND DISTRICT NHS FOUNDATION TRUST (RCD)'>HARROGATE AND DISTRICT NHS FOUNDATION TRUST (RCD)</option>
          <option id='AIREDALE NHS FOUNDATION TRUST (RCF)'>AIREDALE NHS FOUNDATION TRUST (RCF)</option>
          <option id='SHEFFIELD CHILDREN'S NHS FOUNDATION TRUST (RCU)'>SHEFFIELD CHILDREN'S NHS FOUNDATION TRUST (RCU)</option>
          <option id='THE QUEEN ELIZABETH HOSPITAL, KING'S LYNN, NHS FOUNDATION TRUST (RCX)'>THE QUEEN ELIZABETH HOSPITAL, KING'S LYNN, NHS FOUNDATION TRUST (RCX)</option>
          <option id='ROYAL UNITED HOSPITALS BATH NHS FOUNDATION TRUST (RD1)'>ROYAL UNITED HOSPITALS BATH NHS FOUNDATION TRUST (RD1)</option>
          <option id='POOLE HOSPITAL NHS FOUNDATION TRUST (RD3)'>POOLE HOSPITAL NHS FOUNDATION TRUST (RD3)</option>
          <option id='MILTON KEYNES UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RD8)'>MILTON KEYNES UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RD8)</option>
          <option id='BASILDON AND THURROCK UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RDD)'>BASILDON AND THURROCK UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RDD)</option>
          <option id='EAST SUFFOLK AND NORTH ESSEX NHS FOUNDATION TRUST (RDE)'>EAST SUFFOLK AND NORTH ESSEX NHS FOUNDATION TRUST (RDE)</option>
          <option id='SUSSEX COMMUNITY NHS FOUNDATION TRUST (RDR)'>SUSSEX COMMUNITY NHS FOUNDATION TRUST (RDR)</option>
          <option id='FRIMLEY HEALTH NHS FOUNDATION TRUST (RDU)'>FRIMLEY HEALTH NHS FOUNDATION TRUST (RDU)</option>
          <option id='DORSET HEALTHCARE UNIVERSITY NHS FOUNDATION TRUST (RDY)'>DORSET HEALTHCARE UNIVERSITY NHS FOUNDATION TRUST (RDY)</option>
          <option id='THE ROYAL BOURNEMOUTH AND CHRISTCHURCH HOSPITALS NHS FOUNDATION TRUST (RDZ)'>THE ROYAL BOURNEMOUTH AND CHRISTCHURCH HOSPITALS NHS FOUNDATION TRUST (RDZ)</option>
          <option id='SOUTH TYNESIDE NHS FOUNDATION TRUST (RE9)'>SOUTH TYNESIDE NHS FOUNDATION TRUST (RE9)</option>
          <option id='ROYAL CORNWALL HOSPITALS NHS TRUST (REF)'>ROYAL CORNWALL HOSPITALS NHS TRUST (REF)</option>
          <option id='AINTREE UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (REM)'>AINTREE UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (REM)</option>
          <option id='THE CLATTERBRIDGE CANCER CENTRE NHS FOUNDATION TRUST (REN)'>THE CLATTERBRIDGE CANCER CENTRE NHS FOUNDATION TRUST (REN)</option>
          <option id='LIVERPOOL WOMEN'S NHS FOUNDATION TRUST (REP)'>LIVERPOOL WOMEN'S NHS FOUNDATION TRUST (REP)</option>
          <option id='THE WALTON CENTRE NHS FOUNDATION TRUST (RET)'>THE WALTON CENTRE NHS FOUNDATION TRUST (RET)</option>
          <option id='BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST (RF4)'>BARKING, HAVERING AND REDBRIDGE UNIVERSITY HOSPITALS NHS TRUST (RF4)</option>
          <option id='BARNSLEY HOSPITAL NHS FOUNDATION TRUST (RFF)'>BARNSLEY HOSPITAL NHS FOUNDATION TRUST (RFF)</option>
          <option id='THE ROTHERHAM NHS FOUNDATION TRUST (RFR)'>THE ROTHERHAM NHS FOUNDATION TRUST (RFR)</option>
          <option id='CHESTERFIELD ROYAL HOSPITAL NHS FOUNDATION TRUST (RFS)'>CHESTERFIELD ROYAL HOSPITAL NHS FOUNDATION TRUST (RFS)</option>
          <option id='LEEDS AND YORK PARTNERSHIP NHS FOUNDATION TRUST (RGD)'>LEEDS AND YORK PARTNERSHIP NHS FOUNDATION TRUST (RGD)</option>
          <option id='ROYAL PAPWORTH HOSPITAL NHS FOUNDATION TRUST (RGM)'>ROYAL PAPWORTH HOSPITAL NHS FOUNDATION TRUST (RGM)</option>
          <option id='NORTH WEST ANGLIA NHS FOUNDATION TRUST (RGN)'>NORTH WEST ANGLIA NHS FOUNDATION TRUST (RGN)</option>
          <option id='JAMES PAGET UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RGP)'>JAMES PAGET UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RGP)</option>
          <option id='IPSWICH HOSPITAL NHS TRUST (RGQ)'>IPSWICH HOSPITAL NHS TRUST (RGQ)</option>
          <option id='WEST SUFFOLK NHS FOUNDATION TRUST (RGR)'>WEST SUFFOLK NHS FOUNDATION TRUST (RGR)</option>
          <option id='CAMBRIDGE UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RGT)'>CAMBRIDGE UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RGT)</option>
          <option id='SOMERSET PARTNERSHIP NHS FOUNDATION TRUST (RH5)'>SOMERSET PARTNERSHIP NHS FOUNDATION TRUST (RH5)</option>
          <option id='ROYAL DEVON AND EXETER NHS FOUNDATION TRUST (RH8)'>ROYAL DEVON AND EXETER NHS FOUNDATION TRUST (RH8)</option>
          <option id='NOTTINGHAMSHIRE HEALTHCARE NHS FOUNDATION TRUST (RHA)'>NOTTINGHAMSHIRE HEALTHCARE NHS FOUNDATION TRUST (RHA)</option>
          <option id='UNIVERSITY HOSPITAL SOUTHAMPTON NHS FOUNDATION TRUST (RHM)'>UNIVERSITY HOSPITAL SOUTHAMPTON NHS FOUNDATION TRUST (RHM)</option>
          <option id='SHEFFIELD TEACHING HOSPITALS NHS FOUNDATION TRUST (RHQ)'>SHEFFIELD TEACHING HOSPITALS NHS FOUNDATION TRUST (RHQ)</option>
          <option id='PORTSMOUTH HOSPITALS NHS TRUST (RHU)'>PORTSMOUTH HOSPITALS NHS TRUST (RHU)</option>
          <option id='ROYAL BERKSHIRE NHS FOUNDATION TRUST (RHW)'>ROYAL BERKSHIRE NHS FOUNDATION TRUST (RHW)</option>
          <option id='GUY'S AND ST THOMAS' NHS FOUNDATION TRUST (RJ1)'>GUY'S AND ST THOMAS' NHS FOUNDATION TRUST (RJ1)</option>
          <option id='LEWISHAM AND GREENWICH NHS TRUST (RJ2)'>LEWISHAM AND GREENWICH NHS TRUST (RJ2)</option>
          <option id='CROYDON HEALTH SERVICES NHS TRUST (RJ6)'>CROYDON HEALTH SERVICES NHS TRUST (RJ6)</option>
          <option id='ST GEORGE'S UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RJ7)'>ST GEORGE'S UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RJ7)</option>
          <option id='CORNWALL PARTNERSHIP NHS FOUNDATION TRUST (RJ8)'>CORNWALL PARTNERSHIP NHS FOUNDATION TRUST (RJ8)</option>
          <option id='SOUTH WARWICKSHIRE NHS FOUNDATION TRUST (RJC)'>SOUTH WARWICKSHIRE NHS FOUNDATION TRUST (RJC)</option>
          <option id='MID STAFFORDSHIRE NHS FOUNDATION TRUST (RJD)'>MID STAFFORDSHIRE NHS FOUNDATION TRUST (RJD)</option>
          <option id='UNIVERSITY HOSPITALS OF NORTH MIDLANDS NHS TRUST (RJE)'>UNIVERSITY HOSPITALS OF NORTH MIDLANDS NHS TRUST (RJE)</option>
          <option id='BURTON HOSPITALS NHS FOUNDATION TRUST (RJF)'>BURTON HOSPITALS NHS FOUNDATION TRUST (RJF)</option>
          <option id='NORTHERN LINCOLNSHIRE AND GOOLE NHS FOUNDATION TRUST (RJL)'>NORTHERN LINCOLNSHIRE AND GOOLE NHS FOUNDATION TRUST (RJL)</option>
          <option id='EAST CHESHIRE NHS TRUST (RJN)'>EAST CHESHIRE NHS TRUST (RJN)</option>
          <option id='COUNTESS OF CHESTER HOSPITAL NHS FOUNDATION TRUST (RJR)'>COUNTESS OF CHESTER HOSPITAL NHS FOUNDATION TRUST (RJR)</option>
          <option id='KING'S COLLEGE HOSPITAL NHS FOUNDATION TRUST (RJZ)'>KING'S COLLEGE HOSPITAL NHS FOUNDATION TRUST (RJZ)</option>
          <option id='SHERWOOD FOREST HOSPITALS NHS FOUNDATION TRUST (RK5)'>SHERWOOD FOREST HOSPITALS NHS FOUNDATION TRUST (RK5)</option>
          <option id='UNIVERSITY HOSPITALS PLYMOUTH NHS TRUST (RK9)'>UNIVERSITY HOSPITALS PLYMOUTH NHS TRUST (RK9)</option>
          <option id='UNIVERSITY HOSPITALS COVENTRY AND WARWICKSHIRE NHS TRUST (RKB)'>UNIVERSITY HOSPITALS COVENTRY AND WARWICKSHIRE NHS TRUST (RKB)</option>
          <option id='WHITTINGTON HEALTH NHS TRUST (RKE)'>WHITTINGTON HEALTH NHS TRUST (RKE)</option>
          <option id='WEST LONDON NHS TRUST (RKL)'>WEST LONDON NHS TRUST (RKL)</option>
          <option id='THE ROBERT JONES AND AGNES HUNT ORTHOPAEDIC HOSPITAL NHS FOUNDATION TRUST (RL1)'>THE ROBERT JONES AND AGNES HUNT ORTHOPAEDIC HOSPITAL NHS FOUNDATION TRUST (RL1)</option>
          <option id='THE ROYAL WOLVERHAMPTON NHS TRUST (RL4)'>THE ROYAL WOLVERHAMPTON NHS TRUST (RL4)</option>
          <option id='CITY HOSPITALS SUNDERLAND NHS FOUNDATION TRUST (RLN)'>CITY HOSPITALS SUNDERLAND NHS FOUNDATION TRUST (RLN)</option>
          <option id='WYE VALLEY NHS TRUST (RLQ)'>WYE VALLEY NHS TRUST (RLQ)</option>
          <option id='GEORGE ELIOT HOSPITAL NHS TRUST (RLT)'>GEORGE ELIOT HOSPITAL NHS TRUST (RLT)</option>
          <option id='NORTH STAFFORDSHIRE COMBINED HEALTHCARE NHS TRUST (RLY)'>NORTH STAFFORDSHIRE COMBINED HEALTHCARE NHS TRUST (RLY)</option>
          <option id='NORFOLK AND NORWICH UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RM1)'>NORFOLK AND NORWICH UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RM1)</option>
          <option id='UNIVERSITY HOSPITAL OF SOUTH MANCHESTER NHS FOUNDATION TRUST (RM2)'>UNIVERSITY HOSPITAL OF SOUTH MANCHESTER NHS FOUNDATION TRUST (RM2)</option>
          <option id='SALFORD ROYAL NHS FOUNDATION TRUST (RM3)'>SALFORD ROYAL NHS FOUNDATION TRUST (RM3)</option>
          <option id='BOLTON NHS FOUNDATION TRUST (RMC)'>BOLTON NHS FOUNDATION TRUST (RMC)</option>
          <option id='TAMESIDE AND GLOSSOP INTEGRATED CARE NHS FOUNDATION TRUST (RMP)'>TAMESIDE AND GLOSSOP INTEGRATED CARE NHS FOUNDATION TRUST (RMP)</option>
          <option id='NORFOLK AND SUFFOLK NHS FOUNDATION TRUST (RMY)'>NORFOLK AND SUFFOLK NHS FOUNDATION TRUST (RMY)</option>
          <option id='GREAT WESTERN HOSPITALS NHS FOUNDATION TRUST (RN3)'>GREAT WESTERN HOSPITALS NHS FOUNDATION TRUST (RN3)</option>
          <option id='HAMPSHIRE HOSPITALS NHS FOUNDATION TRUST (RN5)'>HAMPSHIRE HOSPITALS NHS FOUNDATION TRUST (RN5)</option>
          <option id='DARTFORD AND GRAVESHAM NHS TRUST (RN7)'>DARTFORD AND GRAVESHAM NHS TRUST (RN7)</option>
          <option id='THE DUDLEY GROUP NHS FOUNDATION TRUST (RNA)'>THE DUDLEY GROUP NHS FOUNDATION TRUST (RNA)</option>
          <option id='TAVISTOCK AND PORTMAN NHS FOUNDATION TRUST (RNK)'>TAVISTOCK AND PORTMAN NHS FOUNDATION TRUST (RNK)</option>
          <option id='NORTH CUMBRIA UNIVERSITY HOSPITALS NHS TRUST (RNL)'>NORTH CUMBRIA UNIVERSITY HOSPITALS NHS TRUST (RNL)</option>
          <option id='CUMBRIA PARTNERSHIP NHS FOUNDATION TRUST (RNN)'>CUMBRIA PARTNERSHIP NHS FOUNDATION TRUST (RNN)</option>
          <option id='KETTERING GENERAL HOSPITAL NHS FOUNDATION TRUST (RNQ)'>KETTERING GENERAL HOSPITAL NHS FOUNDATION TRUST (RNQ)</option>
          <option id='NORTHAMPTON GENERAL HOSPITAL NHS TRUST (RNS)'>NORTHAMPTON GENERAL HOSPITAL NHS TRUST (RNS)</option>
          <option id='OXFORD HEALTH NHS FOUNDATION TRUST (RNU)'>OXFORD HEALTH NHS FOUNDATION TRUST (RNU)</option>
          <option id='SALISBURY NHS FOUNDATION TRUST (RNZ)'>SALISBURY NHS FOUNDATION TRUST (RNZ)</option>
          <option id='NORTHAMPTONSHIRE HEALTHCARE NHS FOUNDATION TRUST (RP1)'>NORTHAMPTONSHIRE HEALTHCARE NHS FOUNDATION TRUST (RP1)</option>
          <option id='GREAT ORMOND STREET HOSPITAL FOR CHILDREN NHS FOUNDATION TRUST (RP4)'>GREAT ORMOND STREET HOSPITAL FOR CHILDREN NHS FOUNDATION TRUST (RP4)</option>
          <option id='DONCASTER AND BASSETLAW TEACHING HOSPITALS NHS FOUNDATION TRUST (RP5)'>DONCASTER AND BASSETLAW TEACHING HOSPITALS NHS FOUNDATION TRUST (RP5)</option>
          <option id='MOORFIELDS EYE HOSPITAL NHS FOUNDATION TRUST (RP6)'>MOORFIELDS EYE HOSPITAL NHS FOUNDATION TRUST (RP6)</option>
          <option id='LINCOLNSHIRE PARTNERSHIP NHS FOUNDATION TRUST (RP7)'>LINCOLNSHIRE PARTNERSHIP NHS FOUNDATION TRUST (RP7)</option>
          <option id='MEDWAY NHS FOUNDATION TRUST (RPA)'>MEDWAY NHS FOUNDATION TRUST (RPA)</option>
          <option id='QUEEN VICTORIA HOSPITAL NHS FOUNDATION TRUST (RPC)'>QUEEN VICTORIA HOSPITAL NHS FOUNDATION TRUST (RPC)</option>
          <option id='OXLEAS NHS FOUNDATION TRUST (RPG)'>OXLEAS NHS FOUNDATION TRUST (RPG)</option>
          <option id='THE ROYAL MARSDEN NHS FOUNDATION TRUST (RPY)'>THE ROYAL MARSDEN NHS FOUNDATION TRUST (RPY)</option>
          <option id='BIRMINGHAM WOMEN'S AND CHILDREN'S NHS FOUNDATION TRUST (RQ3)'>BIRMINGHAM WOMEN'S AND CHILDREN'S NHS FOUNDATION TRUST (RQ3)</option>
          <option id='ROYAL LIVERPOOL AND BROADGREEN UNIVERSITY HOSPITALS NHS TRUST (RQ6)'>ROYAL LIVERPOOL AND BROADGREEN UNIVERSITY HOSPITALS NHS TRUST (RQ6)</option>
          <option id='MID ESSEX HOSPITAL SERVICES NHS TRUST (RQ8)'>MID ESSEX HOSPITAL SERVICES NHS TRUST (RQ8)</option>
          <option id='VELINDRE NHS TRUST (RQF)'>VELINDRE NHS TRUST (RQF)</option>
          <option id='CHELSEA AND WESTMINSTER HOSPITAL NHS FOUNDATION TRUST (RQM)'>CHELSEA AND WESTMINSTER HOSPITAL NHS FOUNDATION TRUST (RQM)</option>
          <option id='THE PRINCESS ALEXANDRA HOSPITAL NHS TRUST (RQW)'>THE PRINCESS ALEXANDRA HOSPITAL NHS TRUST (RQW)</option>
          <option id='HOMERTON UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RQX)'>HOMERTON UNIVERSITY HOSPITAL NHS FOUNDATION TRUST (RQX)</option>
          <option id='SOUTH WEST LONDON AND ST GEORGE'S MENTAL HEALTH NHS TRUST (RQY)'>SOUTH WEST LONDON AND ST GEORGE'S MENTAL HEALTH NHS TRUST (RQY)</option>
          <option id='HEART OF ENGLAND NHS FOUNDATION TRUST (RR1)'>HEART OF ENGLAND NHS FOUNDATION TRUST (RR1)</option>
          <option id='GATESHEAD HEALTH NHS FOUNDATION TRUST (RR7)'>GATESHEAD HEALTH NHS FOUNDATION TRUST (RR7)</option>
          <option id='LEEDS TEACHING HOSPITALS NHS TRUST (RR8)'>LEEDS TEACHING HOSPITALS NHS TRUST (RR8)</option>
          <option id='MIDLANDS PARTNERSHIP NHS FOUNDATION TRUST (RRE)'>MIDLANDS PARTNERSHIP NHS FOUNDATION TRUST (RRE)</option>
          <option id='WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDATION TRUST (RRF)'>WRIGHTINGTON, WIGAN AND LEIGH NHS FOUNDATION TRUST (RRF)</option>
          <option id='THE ROYAL ORTHOPAEDIC HOSPITAL NHS FOUNDATION TRUST (RRJ)'>THE ROYAL ORTHOPAEDIC HOSPITAL NHS FOUNDATION TRUST (RRJ)</option>
          <option id='UNIVERSITY HOSPITALS BIRMINGHAM NHS FOUNDATION TRUST (RRK)'>UNIVERSITY HOSPITALS BIRMINGHAM NHS FOUNDATION TRUST (RRK)</option>
          <option id='BARNET, ENFIELD AND HARINGEY MENTAL HEALTH NHS TRUST (RRP)'>BARNET, ENFIELD AND HARINGEY MENTAL HEALTH NHS TRUST (RRP)</option>
          <option id='LONDON AMBULANCE SERVICE NHS TRUST (RRU)'>LONDON AMBULANCE SERVICE NHS TRUST (RRU)</option>
          <option id='UNIVERSITY COLLEGE LONDON HOSPITALS NHS FOUNDATION TRUST (RRV)'>UNIVERSITY COLLEGE LONDON HOSPITALS NHS FOUNDATION TRUST (RRV)</option>
          <option id='CAMBRIDGESHIRE AND PETERBOROUGH NHS FOUNDATION TRUST (RT1)'>CAMBRIDGESHIRE AND PETERBOROUGH NHS FOUNDATION TRUST (RT1)</option>
          <option id='PENNINE CARE NHS FOUNDATION TRUST (RT2)'>PENNINE CARE NHS FOUNDATION TRUST (RT2)</option>
          <option id='ROYAL BROMPTON & HAREFIELD NHS FOUNDATION TRUST (RT3)'>ROYAL BROMPTON & HAREFIELD NHS FOUNDATION TRUST (RT3)</option>
          <option id='WELSH AMBULANCE SERVICES NHS TRUST (RT4)'>WELSH AMBULANCE SERVICES NHS TRUST (RT4)</option>
          <option id='LEICESTERSHIRE PARTNERSHIP NHS TRUST (RT5)'>LEICESTERSHIRE PARTNERSHIP NHS TRUST (RT5)</option>
          <option id='THE NEWCASTLE UPON TYNE HOSPITALS NHS FOUNDATION TRUST (RTD)'>THE NEWCASTLE UPON TYNE HOSPITALS NHS FOUNDATION TRUST (RTD)</option>
          <option id='GLOUCESTERSHIRE HOSPITALS NHS FOUNDATION TRUST (RTE)'>GLOUCESTERSHIRE HOSPITALS NHS FOUNDATION TRUST (RTE)</option>
          <option id='NORTHUMBRIA HEALTHCARE NHS FOUNDATION TRUST (RTF)'>NORTHUMBRIA HEALTHCARE NHS FOUNDATION TRUST (RTF)</option>
          <option id='UNIVERSITY HOSPITALS OF DERBY AND BURTON NHS FOUNDATION TRUST (RTG)'>UNIVERSITY HOSPITALS OF DERBY AND BURTON NHS FOUNDATION TRUST (RTG)</option>
          <option id='OXFORD UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RTH)'>OXFORD UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RTH)</option>
          <option id='ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATION TRUST (RTK)'>ASHFORD AND ST PETER'S HOSPITALS NHS FOUNDATION TRUST (RTK)</option>
          <option id='SURREY AND SUSSEX HEALTHCARE NHS TRUST (RTP)'>SURREY AND SUSSEX HEALTHCARE NHS TRUST (RTP)</option>
          <option id='2GETHER NHS FOUNDATION TRUST (RTQ)'>2GETHER NHS FOUNDATION TRUST (RTQ)</option>
          <option id='SOUTH TEES HOSPITALS NHS FOUNDATION TRUST (RTR)'>SOUTH TEES HOSPITALS NHS FOUNDATION TRUST (RTR)</option>
          <option id='NORTH WEST BOROUGHS HEALTHCARE NHS FOUNDATION TRUST (RTV)'>NORTH WEST BOROUGHS HEALTHCARE NHS FOUNDATION TRUST (RTV)</option>
          <option id='UNIVERSITY HOSPITALS OF MORECAMBE BAY NHS FOUNDATION TRUST (RTX)'>UNIVERSITY HOSPITALS OF MORECAMBE BAY NHS FOUNDATION TRUST (RTX)</option>
          <option id='CENTRAL AND NORTH WEST LONDON NHS FOUNDATION TRUST (RV3)'>CENTRAL AND NORTH WEST LONDON NHS FOUNDATION TRUST (RV3)</option>
          <option id='SOUTH LONDON AND MAUDSLEY NHS FOUNDATION TRUST (RV5)'>SOUTH LONDON AND MAUDSLEY NHS FOUNDATION TRUST (RV5)</option>
          <option id='HUMBER TEACHING NHS FOUNDATION TRUST (RV9)'>HUMBER TEACHING NHS FOUNDATION TRUST (RV9)</option>
          <option id='NORTH BRISTOL NHS TRUST (RVJ)'>NORTH BRISTOL NHS TRUST (RVJ)</option>
          <option id='AVON AND WILTSHIRE MENTAL HEALTH PARTNERSHIP NHS TRUST (RVN)'>AVON AND WILTSHIRE MENTAL HEALTH PARTNERSHIP NHS TRUST (RVN)</option>
          <option id='EPSOM AND ST HELIER UNIVERSITY HOSPITALS NHS TRUST (RVR)'>EPSOM AND ST HELIER UNIVERSITY HOSPITALS NHS TRUST (RVR)</option>
          <option id='EAST KENT HOSPITALS UNIVERSITY NHS FOUNDATION TRUST (RVV)'>EAST KENT HOSPITALS UNIVERSITY NHS FOUNDATION TRUST (RVV)</option>
          <option id='NORTH TEES AND HARTLEPOOL NHS FOUNDATION TRUST (RVW)'>NORTH TEES AND HARTLEPOOL NHS FOUNDATION TRUST (RVW)</option>
          <option id='SOUTHPORT AND ORMSKIRK HOSPITAL NHS TRUST (RVY)'>SOUTHPORT AND ORMSKIRK HOSPITAL NHS TRUST (RVY)</option>
          <option id='SOUTHERN HEALTH NHS FOUNDATION TRUST (RW1)'>SOUTHERN HEALTH NHS FOUNDATION TRUST (RW1)</option>
          <option id='CENTRAL MANCHESTER UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RW3)'>CENTRAL MANCHESTER UNIVERSITY HOSPITALS NHS FOUNDATION TRUST (RW3)</option>
          <option id='MERSEY CARE NHS FOUNDATION TRUST (RW4)'>MERSEY CARE NHS FOUNDATION TRUST (RW4)</option>
          <option id='LANCASHIRE CARE NHS FOUNDATION TRUST (RW5)'>LANCASHIRE CARE NHS FOUNDATION TRUST (RW5)</option>
          <option id='PENNINE ACUTE HOSPITALS NHS TRUST (RW6)'>PENNINE ACUTE HOSPITALS NHS TRUST (RW6)</option>
          <option id='HULL AND EAST YORKSHIRE HOSPITALS NHS TRUST (RWA)'>HULL AND EAST YORKSHIRE HOSPITALS NHS TRUST (RWA)</option>
          <option id='UNITED LINCOLNSHIRE HOSPITALS NHS TRUST (RWD)'>UNITED LINCOLNSHIRE HOSPITALS NHS TRUST (RWD)</option>
          <option id='UNIVERSITY HOSPITALS OF LEICESTER NHS TRUST (RWE)'>UNIVERSITY HOSPITALS OF LEICESTER NHS TRUST (RWE)</option>
          <option id='MAIDSTONE AND TUNBRIDGE WELLS NHS TRUST (RWF)'>MAIDSTONE AND TUNBRIDGE WELLS NHS TRUST (RWF)</option>
          <option id='WEST HERTFORDSHIRE HOSPITALS NHS TRUST (RWG)'>WEST HERTFORDSHIRE HOSPITALS NHS TRUST (RWG)</option>
          <option id='EAST AND NORTH HERTFORDSHIRE NHS TRUST (RWH)'>EAST AND NORTH HERTFORDSHIRE NHS TRUST (RWH)</option>
          <option id='STOCKPORT NHS FOUNDATION TRUST (RWJ)'>STOCKPORT NHS FOUNDATION TRUST (RWJ)</option>
          <option id='EAST LONDON NHS FOUNDATION TRUST (RWK)'>EAST LONDON NHS FOUNDATION TRUST (RWK)</option>
          <option id='WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST (RWP)'>WORCESTERSHIRE ACUTE HOSPITALS NHS TRUST (RWP)</option>
          <option id='HERTFORDSHIRE PARTNERSHIP UNIVERSITY NHS FOUNDATION TRUST (RWR)'>HERTFORDSHIRE PARTNERSHIP UNIVERSITY NHS FOUNDATION TRUST (RWR)</option>
          <option id='DEVON PARTNERSHIP NHS TRUST (RWV)'>DEVON PARTNERSHIP NHS TRUST (RWV)</option>
          <option id='WARRINGTON AND HALTON HOSPITALS NHS FOUNDATION TRUST (RWW)'>WARRINGTON AND HALTON HOSPITALS NHS FOUNDATION TRUST (RWW)</option>
          <option id='BERKSHIRE HEALTHCARE NHS FOUNDATION TRUST (RWX)'>BERKSHIRE HEALTHCARE NHS FOUNDATION TRUST (RWX)</option>
          <option id='CALDERDALE AND HUDDERSFIELD NHS FOUNDATION TRUST (RWY)'>CALDERDALE AND HUDDERSFIELD NHS FOUNDATION TRUST (RWY)</option>
          <option id='NOTTINGHAM UNIVERSITY HOSPITALS NHS TRUST (RX1)'>NOTTINGHAM UNIVERSITY HOSPITALS NHS TRUST (RX1)</option>
          <option id='SUSSEX PARTNERSHIP NHS FOUNDATION TRUST (RX2)'>SUSSEX PARTNERSHIP NHS FOUNDATION TRUST (RX2)</option>
          <option id='TEES, ESK AND WEAR VALLEYS NHS FOUNDATION TRUST (RX3)'>TEES, ESK AND WEAR VALLEYS NHS FOUNDATION TRUST (RX3)</option>
          <option id='NORTHUMBERLAND, TYNE AND WEAR NHS FOUNDATION TRUST (RX4)'>NORTHUMBERLAND, TYNE AND WEAR NHS FOUNDATION TRUST (RX4)</option>
          <option id='NORTH EAST AMBULANCE SERVICE NHS FOUNDATION TRUST (RX6)'>NORTH EAST AMBULANCE SERVICE NHS FOUNDATION TRUST (RX6)</option>
          <option id='NORTH WEST AMBULANCE SERVICE NHS TRUST (RX7)'>NORTH WEST AMBULANCE SERVICE NHS TRUST (RX7)</option>
          <option id='YORKSHIRE AMBULANCE SERVICE NHS TRUST (RX8)'>YORKSHIRE AMBULANCE SERVICE NHS TRUST (RX8)</option>
          <option id='EAST MIDLANDS AMBULANCE SERVICE NHS TRUST (RX9)'>EAST MIDLANDS AMBULANCE SERVICE NHS TRUST (RX9)</option>
          <option id='CHESHIRE AND WIRRAL PARTNERSHIP NHS FOUNDATION TRUST (RXA)'>CHESHIRE AND WIRRAL PARTNERSHIP NHS FOUNDATION TRUST (RXA)</option>
          <option id='EAST SUSSEX HEALTHCARE NHS TRUST (RXC)'>EAST SUSSEX HEALTHCARE NHS TRUST (RXC)</option>
          <option id='ROTHERHAM DONCASTER AND SOUTH HUMBER NHS FOUNDATION TRUST (RXE)'>ROTHERHAM DONCASTER AND SOUTH HUMBER NHS FOUNDATION TRUST (RXE)</option>
          <option id='MID YORKSHIRE HOSPITALS NHS TRUST (RXF)'>MID YORKSHIRE HOSPITALS NHS TRUST (RXF)</option>
          <option id='SOUTH WEST YORKSHIRE PARTNERSHIP NHS FOUNDATION TRUST (RXG)'>SOUTH WEST YORKSHIRE PARTNERSHIP NHS FOUNDATION TRUST (RXG)</option>
          <option id='BRIGHTON AND SUSSEX UNIVERSITY HOSPITALS NHS TRUST (RXH)'>BRIGHTON AND SUSSEX UNIVERSITY HOSPITALS NHS TRUST (RXH)</option>
          <option id='SANDWELL AND WEST BIRMINGHAM HOSPITALS NHS TRUST (RXK)'>SANDWELL AND WEST BIRMINGHAM HOSPITALS NHS TRUST (RXK)</option>
          <option id='BLACKPOOL TEACHING HOSPITALS NHS FOUNDATION TRUST (RXL)'>BLACKPOOL TEACHING HOSPITALS NHS FOUNDATION TRUST (RXL)</option>
          <option id='DERBYSHIRE HEALTHCARE NHS FOUNDATION TRUST (RXM)'>DERBYSHIRE HEALTHCARE NHS FOUNDATION TRUST (RXM)</option>
          <option id='LANCASHIRE TEACHING HOSPITALS NHS FOUNDATION TRUST (RXN)'>LANCASHIRE TEACHING HOSPITALS NHS FOUNDATION TRUST (RXN)</option>
          <option id='COUNTY DURHAM AND DARLINGTON NHS FOUNDATION TRUST (RXP)'>COUNTY DURHAM AND DARLINGTON NHS FOUNDATION TRUST (RXP)</option>
          <option id='BUCKINGHAMSHIRE HEALTHCARE NHS TRUST (RXQ)'>BUCKINGHAMSHIRE HEALTHCARE NHS TRUST (RXQ)</option>
          <option id='EAST LANCASHIRE HOSPITALS NHS TRUST (RXR)'>EAST LANCASHIRE HOSPITALS NHS TRUST (RXR)</option>
          <option id='BIRMINGHAM AND SOLIHULL MENTAL HEALTH NHS FOUNDATION TRUST (RXT)'>BIRMINGHAM AND SOLIHULL MENTAL HEALTH NHS FOUNDATION TRUST (RXT)</option>
          <option id='GREATER MANCHESTER MENTAL HEALTH NHS FOUNDATION TRUST (RXV)'>GREATER MANCHESTER MENTAL HEALTH NHS FOUNDATION TRUST (RXV)</option>
          <option id='SHREWSBURY AND TELFORD HOSPITAL NHS TRUST (RXW)'>SHREWSBURY AND TELFORD HOSPITAL NHS TRUST (RXW)</option>
          <option id='SURREY AND BORDERS PARTNERSHIP NHS FOUNDATION TRUST (RXX)'>SURREY AND BORDERS PARTNERSHIP NHS FOUNDATION TRUST (RXX)</option>
          <option id='KENT AND MEDWAY NHS AND SOCIAL CARE PARTNERSHIP TRUST (RXY)'>KENT AND MEDWAY NHS AND SOCIAL CARE PARTNERSHIP TRUST (RXY)</option>
          <option id='LIVERPOOL COMMUNITY HEALTH NHS TRUST (RY1)'>LIVERPOOL COMMUNITY HEALTH NHS TRUST (RY1)</option>
          <option id='BRIDGEWATER COMMUNITY HEALTHCARE NHS FOUNDATION TRUST (RY2)'>BRIDGEWATER COMMUNITY HEALTHCARE NHS FOUNDATION TRUST (RY2)</option>
          <option id='NORFOLK COMMUNITY HEALTH AND CARE NHS TRUST (RY3)'>NORFOLK COMMUNITY HEALTH AND CARE NHS TRUST (RY3)</option>
          <option id='HERTFORDSHIRE COMMUNITY NHS TRUST (RY4)'>HERTFORDSHIRE COMMUNITY NHS TRUST (RY4)</option>
          <option id='LINCOLNSHIRE COMMUNITY HEALTH SERVICES NHS TRUST (RY5)'>LINCOLNSHIRE COMMUNITY HEALTH SERVICES NHS TRUST (RY5)</option>
          <option id='LEEDS COMMUNITY HEALTHCARE NHS TRUST (RY6)'>LEEDS COMMUNITY HEALTHCARE NHS TRUST (RY6)</option>
          <option id='WIRRAL COMMUNITY NHS FOUNDATION TRUST (RY7)'>WIRRAL COMMUNITY NHS FOUNDATION TRUST (RY7)</option>
          <option id='DERBYSHIRE COMMUNITY HEALTH SERVICES NHS FOUNDATION TRUST (RY8)'>DERBYSHIRE COMMUNITY HEALTH SERVICES NHS FOUNDATION TRUST (RY8)</option>
          <option id='HOUNSLOW AND RICHMOND COMMUNITY HEALTHCARE NHS TRUST (RY9)'>HOUNSLOW AND RICHMOND COMMUNITY HEALTHCARE NHS TRUST (RY9)</option>
          <option id='WEST MIDLANDS AMBULANCE SERVICE UNIVERSITY NHS FOUNDATION TRUST (RYA)'>WEST MIDLANDS AMBULANCE SERVICE UNIVERSITY NHS FOUNDATION TRUST (RYA)</option>
          <option id='EAST OF ENGLAND AMBULANCE SERVICE NHS TRUST (RYC)'>EAST OF ENGLAND AMBULANCE SERVICE NHS TRUST (RYC)</option>
          <option id='SOUTH EAST COAST AMBULANCE SERVICE NHS FOUNDATION TRUST (RYD)'>SOUTH EAST COAST AMBULANCE SERVICE NHS FOUNDATION TRUST (RYD)</option>
          <option id='SOUTH CENTRAL AMBULANCE SERVICE NHS FOUNDATION TRUST (RYE)'>SOUTH CENTRAL AMBULANCE SERVICE NHS FOUNDATION TRUST (RYE)</option>
          <option id='SOUTH WESTERN AMBULANCE SERVICE NHS FOUNDATION TRUST (RYF)'>SOUTH WESTERN AMBULANCE SERVICE NHS FOUNDATION TRUST (RYF)</option>
          <option id='COVENTRY AND WARWICKSHIRE PARTNERSHIP NHS TRUST (RYG)'>COVENTRY AND WARWICKSHIRE PARTNERSHIP NHS TRUST (RYG)</option>
          <option id='IMPERIAL COLLEGE HEALTHCARE NHS TRUST (RYJ)'>IMPERIAL COLLEGE HEALTHCARE NHS TRUST (RYJ)</option>
          <option id='DUDLEY AND WALSALL MENTAL HEALTH PARTNERSHIP NHS TRUST (RYK)'>DUDLEY AND WALSALL MENTAL HEALTH PARTNERSHIP NHS TRUST (RYK)</option>
          <option id='WESTERN SUSSEX HOSPITALS NHS FOUNDATION TRUST (RYR)'>WESTERN SUSSEX HOSPITALS NHS FOUNDATION TRUST (RYR)</option>
          <option id='PUBLIC HEALTH WALES NHS TRUST (RYT)'>PUBLIC HEALTH WALES NHS TRUST (RYT)</option>
          <option id='CAMBRIDGESHIRE COMMUNITY SERVICES NHS TRUST (RYV)'>CAMBRIDGESHIRE COMMUNITY SERVICES NHS TRUST (RYV)</option>
          <option id='BIRMINGHAM COMMUNITY HEALTHCARE NHS FOUNDATION TRUST (RYW)'>BIRMINGHAM COMMUNITY HEALTHCARE NHS FOUNDATION TRUST (RYW)</option>
          <option id='CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST (RYX)'>CENTRAL LONDON COMMUNITY HEALTHCARE NHS TRUST (RYX)</option>
          <option id='KENT COMMUNITY HEALTH NHS FOUNDATION TRUST (RYY)'>KENT COMMUNITY HEALTH NHS FOUNDATION TRUST (RYY)</option>
        </select>

        <div class="nhsuk-u-margin-bottom-4">
        </div>

        <input type="submit" class="nhsuk-button identity-button" value="Continue">
        </input>
      </form>



    </div>
  </div>
{% endblock %}
