// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Patterns that are not in the NHS.UK frontend library
@import 'patterns/check-your-answers';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

@import 'prototype/grid';
@import 'prototype/navbar';
@import 'prototype/footer';
@import 'prototype/button';

html {

  background-color: inherit;
}

.identity-list--unstyled {

  list-style-type: none;
  padding-left: 0;
}
