{% set contentTitle = "Do you want to add the Privacy Officer (R0001) role to your NHS identity?" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "add-a-role/v1" %}
{% set forwardService = "Clinical application" %}
{% block pageScripts %}
  <script type="text/javascript" src="/js/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/js/autocomplete-roles.js"></script>
{% endblock %}
<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="#" method="get">

        {{ radios({
          "idPrefix": "role",
          "name": "role",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-label--l"
            }
          },
          "items": [
            {
              "value": "1",
              "text": "Yes"
            },
            {
              "value": "3",
              "text": "No, I need to add another role"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button identity-button" value="Continue">
        </input>
      </form>



    </div>
  </div>
{% endblock %}
