<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set refNo = "A338BHE" %}
{% set daysWait = "3" %}
{% set contactSupport = "support@example.com" %}
{% set contentTitle = "Request complete" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "register-account/v1" %}
{% set forwardService = "<service name>" %}

  {% if data['role'] %}
    {% set role = data['role'] %}
  {% else %}
    {% set role = "Consultant (R0050)" %}
  {% endif %}

  {% if data['email'] %}
    {% set email = data['email'] %}
  {% else %}
    {% set email = "test@example.com" %}
  {% endif %}

  {% if data['ODS'] %}
    {% set org = data['ODS'] %}
  {% else %}
    {% set org = "Sheffield Teaching Hospitals NHS Foundation Trust" %}
  {% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">
        {{ contentTitle }}
        <span class="nhsuk-caption-l nhsuk-caption--bottom">Reference number: {{ refNo }}</span>
      </h1>

      <p>We've received your request for an NHS identity to use {{ forwardService }}.</p>

      <p>We have sent you a copy of these details to your email.</p>

      <h2 class="nhsuk-heading-m">What happens next</h2>

      <p>You should receive a response within {{ daysWait }} days.</p>

      <p>If you have any queries regarding this request, please contact {{ contactSupport }}.</p>



    </div>
  </div>
{% endblock %}
