<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set contentTitle = "Have you ever had an NHS smartcard?" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "register-account/v1" %}
{% set forwardService = "Clinical application" %}
{% set image = '<details class="nhsuk-details">
  <summary class="nhsuk-details__summary">
    <span class="nhsuk-details__summary-text">
    What an NHS smartcard looks like
    </span>
  </summary>
  <div class="nhsuk-details__text">
    <img class="nhsuk-image__img identity-smartcard" src="/images/smartcard.png" alt="An NHS smartcard has a photo ID and underneath it a 12 digit number. It is used to access clinical systems.">
  </div>
</details>' %}



<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="" method="post">

        {{ radios({
          "idPrefix": "hadSmartcardID",
          "name": "hadSmartcard",
          "fieldset": {
            "legend": {
              "text": contentTitle,
              "isPageHeading": true,
              "classes": "nhsuk-label--l"
            }
          },
          "hint": {
            "html": image
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes, I've had an NHS smartcard"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button identity-button" value="Continue">
        </input>
      </form>



    </div>
  </div>
{% endblock %}
