<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set contentTitle = "Your organisations" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "register-account/v1" %}
{% set forwardService = "<service name>" %}
  {% if data['ODS'] %}
    {% set org = data['ODS'] %}
  {% else %}
    {% set org = "NHS Trust" %}
  {% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key nhsuk-u-visually-hidden">
            First organisation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ org }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
             Change<span class="nhsuk-u-visually-hidden"> organisation</span>
           </a>
         </dd>
        </div>
      </dl>

      <form action="" method="post">

        {{ radios({
          "idPrefix": "anotherOrgID",
          "name": "anotherOrg",
          "fieldset": {
            "legend": {
              "text": "Would you like to add another organisation?",
              "isPageHeading": false,
              "classes": "nhsuk-label--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button identity-button" value="Continue">
        </input>
      </form>



    </div>
  </div>
{% endblock %}
