<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set contentTitle = "Enter your name" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "register-account/v1" %}
{% set forwardService = "<service name>" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="/{{ PROTOTYPEURL }}/details/your-dob" method="get">

        {% call fieldset({
          "legend": {
            "text": contentTitle,
            "classes": "nhsuk-fieldset__legend--l",
            "isPageHeading": true
          }
        }) %}

        {{ input({
          "label": {
            "text": "First names",
            "isPageHeading": false
          },
          "id": "inputFirstName",
          "name": "FirstName",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ input({
          "label": {
            "text": "Last name",
            "isPageHeading": false
          },
          "id": "inputLastName",
          "name": "LastName",
          "classes": "nhsuk-input--width-20"
        }) }}
        {% endcall %}

        <input type="submit" class="nhsuk-button identity-button" value="Continue">
        </input>
      </form>



    </div>
  </div>
{% endblock %}
