<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set contentTitle = "Your roles" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "register-account/v1" %}
{% set forwardService = "Clinical application" %}
  {% if data['role'] %}
    {% set role = data['role'] %}
  {% else %}
    {% set role = "Consultant (R0050)" %}
  {% endif %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>

      {% if role %}
      <ol class="govuk-summary-list">
        <li class="govuk-summary-list__row">
          <div class="govuk-summary-list__value">
            {{ role }}
          </div>
          <div class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
             Change<span class="nhsuk-u-visually-hidden"> organisation</span>
           </a>
         </div>
       </li>
       {% if data['role2'] %}
       <li class="govuk-summary-list__row">
         <div class="govuk-summary-list__value">
           {{ data['role2'] }}
         </div>
         <div class="govuk-summary-list__actions">
           <a class="govuk-link" href="#">
            Change<span class="nhsuk-u-visually-hidden"> organisation</span>
          </a>
        </div>
      </li>
       {% endif %}
       {% if data['role3'] %}
       <li class="govuk-summary-list__row">
         <div class="govuk-summary-list__value">
           {{ data['role3'] }}
         </div>
         <div class="govuk-summary-list__actions">
           <a class="govuk-link" href="#">
            Change<span class="nhsuk-u-visually-hidden"> organisation</span>
          </a>
        </div>
      </li>
       {% endif %}
       {% if data['role4'] %}
       <li class="govuk-summary-list__row">
         <div class="govuk-summary-list__value">
           {{ data['role4'] }}
         </div>
         <div class="govuk-summary-list__actions">
           <a class="govuk-link" href="#">
            Change<span class="nhsuk-u-visually-hidden"> organisation</span>
          </a>
        </div>
      </li>
       {% endif %}
      </ol>
      {% endif %}

      <form action="" method="post">

        {{ radios({
          "idPrefix": "anotherRoleID",
          "name": "anotherRole",
          "fieldset": {
            "legend": {
              "text": "Would you like to add another role?",
              "isPageHeading": false,
              "classes": "nhsuk-label--m"
            }
          },
          "items": [
            {
              "value": "yes",
              "text": "Yes"
            },
            {
              "value": "no",
              "text": "No"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button identity-button" value="Continue">
        </input>
      </form>



    </div>
  </div>
{% endblock %}
