<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set serviceName = "NHS identity" %}
{% set contentTitle = "Enter your email" %}
{% set title = contentTitle + " - " + serviceName %}


<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ serviceName }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">March 2019</span>
      </h1>

      <h2>Prototypes</h2>
      <ul class="identity-list--unstyled">
        <li>
          <a href="/form">Example form</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
