<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set title = "Enter your email" %}
{% set serviceName = "NHS identity" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  NHS identity
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        NHS identity
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">March 2019</span>
      </h1>

      <form action="#" method="get">

    {{ input({
      "label": {
        "text": title,
        "isPageHeading": false,
        "classes": "nhsuk-label--m"
      },
      "id": "inputnhsnumber",
      "name": "nhsnumber",
      "classes": "nhsuk-input--width-20"
    }) }}

    <input type="submit" class="nhsuk-button" value="Continue">
    </input>

  </form>

      <h2>Prototypes</h2>


      <h2 class="nhsuk-heading-m">Examples and documentation</h2>

      <ul>
        <li><a href="/docs/how-tos">Example pages and documentation</a></li>
        <li><a href="https://beta.nhs.uk/service-manual/styles-components-patterns">NHS digital service manual</a>
        </li>
      </ul>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
