<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set serviceName = "NHS identity" %}
{% set contentTitle = "Enter your email" %}
{% set title = contentTitle + " - " + serviceName %}
{% set nhsIdentity = "true" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ serviceName }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">March 2019</span>
      </h1>

      <ol class="identity-list--unstyled identity-list-cards">
        <li class="identity-list-cards__item">
          <a href="/use-a-service/v1/enter-your-email">
            <h2 class="identity-list-cards__heading nhsuk-heading-m">Log in to use this service (returning user)</h2>
            <p>User has an NHS identity and signs on to their service</p>
          </a>
        </li>
        <li class="identity-list-cards__item">
          <a href="/register-account/v1/enter-your-email">
            <h2 class="identity-list-cards__heading nhsuk-heading-m">Register for an NHS identity to log in to this service (email verification)</h2>
            <p>User either registers or is intercepted and asked to create an account</p>
            <p>Journey ends with an email.</p>
          </a>
        </li>
        <li class="identity-list-cards__item">
          <a href="/register-account/v1/details/continue">
            <h2 class="identity-list-cards__heading nhsuk-heading-m">Register for an NHS identity to log in to this service (account registration)</h2>
            <p>Let users see how their personal data has been used for research and planning</p>
          </a>
        </li>
        <li class="identity-list-cards__item">
          <a href="/add-a-role/v1/enter-your-email">
            <h2 class="identity-list-cards__heading nhsuk-heading-m">Add a role to your NHS identity to use this service</h2>
            <p>Help users get to their service by request a role to be added to their NHS identity</p>
          </a>
        </li>
      </ol>





        <h2>Alternatives</h2>
        <h3>External system</h3>
        <h4>Better approach to choosing role</h4>
        <p>If possible, guidelines and examples should be provded to other systems that make choosing the role clearer.</p>
        <p>If only one role is available that should just be displayed to the user and to confirm they want to continue with that role</p>
        <p><a href="/add-a-role/v1/alts/correct-role">Example of one role</a></p>
        <p>If more than one role is available, but less than 8, that should just be displayed to the user as a radio button list.</p>
        <p><a href="/add-a-role/v1/alts/choose-role">Example of shortened list</a></p>
        <p>If more than one role is available, and more than 8 but less than 16, that should just be displayed as a select with the most common role selected.</p>
        <p>If users can choose more than one role from a small sample (under 8), use checkboxes. If the number of roles they can choose is more than 8 then they should loop through like organisations.</p>
        <p>
          <a href="/add-a-role/v1/alts/multi-role">Example checkboxes</a>
        </p>

        <h3>Register for a new role</h3>
        <p>
          If the user selects an organisation and or role that needs additional questions, the questions can be displayed after those have been selected
        </p>
        <p><a href="/register-account/v1/details/alts/your-name">Where you work (additional questions based on service</a>
        <h3>Add a role</h3>
        <h4>If the user already has more than one organisation</h4>
        <p>
          The first screen they see should be to confirm the organisation they wish to assign the role to.
        </p>
        <p><a href="/add-a-role/v1/alts/more-than-one-org">Choose which organisation you want to add a role to</a></p>




      <!-- End of content -->

    </div>
  </div>
{% endblock %}
