<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set serviceName = "NHS identity" %}
{% set contentTitle = "Add a role to your existing NHS identity" %}
{% set title = contentTitle + " - " + serviceName %}
{% set nhsIdentity = "true" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>
        {{ serviceName }}
        <span class="nhsuk-caption-xl nhsuk-caption--bottom">March 2019</span>
      </h1>

      <h2>Prototypes</h2>
      <ul class="identity-list--unstyled">
        <li>
          <a href="/add-a-role/v1/enter-your-email">Start</a>
        </li>
      </ul>

      <h2>Alternatives</h2>
      <p>If the user already has more than one organisation, the first screen they see will be to confirm the organisation they wish to assign the role to: <a href="/add-a-role/v1/alts/more-than-one-org">choose which organisation you want to add a role to</a> </p>

      <!-- End of content -->

    </div>
  </div>
{% endblock %}
