<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set role = "<role>" %}
{% set contentTitle = "Sorry, you are not able to use this service as " + role %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{# set width = "800" #}
{% set PROTOTYPEURL = "add-a-role/v1" %}
{% set forwardService = "<service name>" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-nhs-identity.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1 class="nhsuk-heading-l">{{ contentTitle }}</h1>
      <p>To use {{ forwardService }}, you'll need to ask for the {{ role }} role to be added to your NHS identity.</p>

      <form action="/{{ PROTOTYPEURL }}/get-a-new-role" method="get">
        <input type="submit" class="nhsuk-button identity-button" value="Ask for new role">
        </input>
      </form>

      {{ backLink({
        "href": "/" + PROTOTYPEURL + "/enter-your-email",
        "text": "Go back to the previous page"
      }) }}


    </div>
  </div>
{% endblock %}
