<!--
ADDING CUSTOM CSS
Add your custom CSS/Sass to /app/assets/sass/main.scss
-->
{% set contentTitle = "Choose role to log in to Clinical application" %}
{% set title = contentTitle + " - " + serviceName %}
{% set serviceName = "NHS identity" %}
{% set nhsIdentity = "true" %}
{% set PROTOTYPEURL = "use-a-service/v1" %}

<!-- Extends the layout from /app/views/layouts/layout.html -->
{% extends 'layouts/layout-service.html' %}

<!-- Set the page title inside this block -->
{% block pageTitle %}
  {{ title }}
{% endblock %}

<!-- Breadcrumb goes inside this block -->
{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="" method="post">

        {{ select({
          "id": "inServiceSelect",
          "name": "inServiceSelect",
          "label": {
            "text": contentTitle,
            "isPageHeading": true,
            "classes": "nhsuk-label--l"
          },
          "items": [
            {
              "value": 1,
              "text": "Social Worker (R1330)",
              "selected": true
            },
            {
              "value": 2,
              "text": "I need to add a new role"
            }
          ]
        }) }}

        <input type="submit" class="nhsuk-button" value="Continue">
        </input>
      </form>

      <p>
        If you do not have the correct role or rights, <a href="/add-a-role/v1/get-a-new-role">you can ask for it to be added</a>
      </p>
    </div>
  </div>
{% endblock %}
